div id='tickets'
  - if @tickets
    = render @tickets

/ = javascript_pack_tag 'shared/flatpickr'
/ = javascript_pack_tag 'tickets/form-validation'
/ = javascript_pack_tag 'tasks/move-task'
/ = javascript_pack_tag 'tasks/form-validation'